body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0; /* Remove margens do body */
    padding: 0; /* Remove paddings do body */
}


.navbar {
  background-color: #B20000;
}

.navbar .secao {
  list-style-type: none;
  color: #fff;
}

.navbar .secao a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-family: 'Roboto', sans-serif;
}

.navbar .secao:hover {
  background-color: #BA1A1A; /* Cor um pouco mais escura ao passar o mouse */
  cursor: pointer;
}

.cabecalho h2 {
  font-size: 30px !important;
  color: black;
  margin: 0;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-weight: normal !important;
}

.titulo-header h1 {
  font-size: 48px;
  color: black;
  margin: 0;
  text-align: center;
  font-family: 'Roboto-Slab', serif;
  font-weight: normal !important;
}

.titulo-header h2 {
  font-size: 48px;
  color: #333;
  margin: 5px 0 10px;
  font-family: 'Roboto-Slab', serif;
}

.linha-preta {
  height: 2px;
  background-color: black;
  margin: 0 auto;
}

.logo-etec {
  width: 160px;
  height: auto;
}

.logo-sp {
  width: 150px;
  height: auto;
  margin-top: 10px;
  margin-left: 20px;
}

/* ------Texto principal------ */
.container-principal .row {
    display: flexbox;
    justify-content: space-around;
}

.texto .titulo {
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    color: #005c6d;
    text-align: left;
}

.texto .subtitulo {
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    color: #005c6d;
    text-align: left;
}

p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #666;
}

/* ------Agendamentos Recentes------ */

.container-agendamentos {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.container-agendamentos .subtitulo {
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    color: #005c6d;
    text-align: center;
}

.container-agendamentos .row {
    display: flexbox;
    text-align: center;
}

.container-agendamentos .cabecalho {
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    font-weight: bold;
}

.container-agendamentos .informacoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
}

.container-agendamentos .informacoes button {
    border: none;
    background-color: #fff;
}

/* Como usar professor */
.professor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.professor .row {
  display: flex;
  width: 100%;
  height: 100%;
}

.container-professor {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 50%;
  width: 100%;
}

.container-professor h1 {
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    color: #005c6d;
    text-align: left;
}
.container-professor h2 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #666;
}
/* Fim do css como usar professor */

/* Como usar tecnico */
.tecnico {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.tecnico .row {
  display: flex;
  width: 100%;
  height: 100%;
}

.container-tecnico {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 50%;
  width: 100%;
}

.container-tecnico h1 {
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    color: #005c6d;
    text-align: left;
}
.container-tecnico h2 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #666;
}
/* Fim do css do tecnico */

/* Como usar adm */
.adm {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.adm .row {
  display: flex;
  width: 100%;
  height: 100%;
}

.container-adm {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 50%;
  width: 100%;
}

.container-adm h1 {
    font-size: 24px;
    font-family: 'Roboto Slab', serif;
    color: #005c6d;
    text-align: left;
}
.container-adm h2 {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #666;
}
/* Fim do css do adm */

footer {
  background-color: #000000;
  min-height: 250px;
  padding: 30px;
  margin-top: 100px;
  font-family: 'Roboto', sans-serif;
}

footer .row {
  display: flexbox;
  justify-content: space-around;
}

footer .secao {
  min-height: 150px;
  min-width: 230px;
}

footer h3 {
  font-family: 'Roboto Slab', serif;
  font-size: x-large;
  color: #fff;
  margin-bottom: 20px;
}

footer .texto {
  color: rgb(191, 191, 191);
}

footer .secao .icones {
  font-size: 30px;
  margin-top: 10px;
}

footer .linha-footer {
  width: 70%;
  height: 2px;
  margin: 30px auto;
  background-color: rgb(128, 128, 128);
}

.icones {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.icones a {
  text-decoration: none; 
}

.icones-rede {
  width: 40px;
  height: 40px;
  object-fit: contain; 
  transition: transform 0.3s;
}

.icones-rede:hover {
  transform: scale(1.1); /* Efeito de zoom */
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown .dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown .dropbtn img {
  width: 50px;
  height: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 15px 40px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}