body {      
  min-height: 100vh;        
  margin: 0;                
  width: 100%;
  height: 100%;
  display: flex;
  place-items: center;
}

.logo {
  position: absolute; 
  top: 10px; 
  left: 10px; 
  width: 100px; 
  height: auto; 
}

.container-principal {
  width: 100%;
  height: auto;
  padding-bottom: 5em;

}

.container-principal .row {
  display: flexbox;
  width: 100%;
  justify-content: center;
}

.container-login {
  /* Bloco do formulário de login */
  max-width: 350px; 
  background: #ffffff;
  border-radius: 40px;
  padding: 25px 35px;
  border: 5px solid #dcdcdc;
  margin: 20px;
}

.container-login h1 {
  /* Título "Área de Login" */
  text-align: center; 
  font-family: 'Roboto-Slab', serif;
  font-size: 30px; 
  color: #005c6d; 
}

.container-login .input {
  width: 100%;
  background: white;
  border: 2px solid #dcdcdc !important;
  font-family: 'Roboto', sans-serif;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  box-sizing: border-box;
}

.container-login .input::-moz-placeholder {
  /* Texto de dentro do input */
  color: rgb(170, 170, 170);
}

.container-login .input::placeholder {
  /* Texto de dentro do input */
  color: rgb(170, 170, 170);
}

.container-login .esqueceu-senha {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.container-login .esqueceu-senha a {
  /* Esqueçeu a senha? */
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  text-decoration: none;
}

.container-login .botao-entrar{
  /* Botão de entrar */
  display: block;
  width: 100%;
  font-family: 'Roboto', sans-serif !important;
  margin: 20px auto; 
  border-radius: 20px; 
  border: none;
  background-color: #3ACF1F;
  color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  font-size: 1.2em;
  font-weight: 500;
  cursor: pointer; 
  transition: background-color 0.3s;
}

.container-login .botao-entrar:hover {
  transform: scale(1.01);
}

.container-login .botao-entrar:active {
  background-color: #80E96D;
}

.container-login .esqueceu-senha {
  display: block;
  margin-top: 10px;
  margin-left: 10px;
}

.container-login .esqueceu-senha a {
  font-size: 15px;
  color: #000000;
  text-decoration: none;
}

.mostrar {
  width: 100%;
  background: white;
  border: 2px solid #ccc !important;
  font-family: 'Roboto', sans-serif;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 15px;
  border-inline: 2px solid transparent;
  box-sizing: border-box;
}

.mostrar:focus {
  outline: none;
  border-inline: 2px solid #FF161F;
}
/* Ícone olho */
.mostrar-container {
  position: relative;
  width: 100%;
}

.toggle-senha {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-15%);
  cursor: pointer;
  font-size: 18px;
  color: #777;
  transition: 0.2s;
}

.toggle-senha:hover {
  color: #FF161F;
}

#notificacao {
    position: fixed; 
    top: 20px;
    right: 20px;
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    
 
    opacity: 0;
    transform: translateX(150%);
    
    /* Animação suave */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}


#notificacao.show {
    opacity: 1;
    transform: translateX(0);
}


#notificacao.sucesso {
    background-color: #28a745; 
}


#notificacao.erro {
    background-color: #BA1A1A;
}