body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0; /* Remove margens do body */
  padding: 0; /* Remove paddings do body */
}

h1 {
  color: black;
  font-family: Verdana, sans-serif;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  font-size: 61px;
  margin-top: 5px;
  text-align: center;
  border: 0px;
}

h2 {
  color: rgb(54, 54, 54);
  font-family: Verdana, sans-serif;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  font-size: 18px;
  text-align: center;
  margin-top: -30px;
}

p {
  color: black;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  text-align: center;
}
.linha-preta {
  width: 800px; /* Largura da linha */
  height: 2px; /* Altura da linha */
  margin: 15px auto;
  background-color: black; /* Cor da Linha */
}

.container-vermelho {
  background-color: #b20000;
  font-family: Verdana, sans-serif;
}

.container-vermelho .secao {
  height: 60px;
  border: 1px solid rgb(100, 0, 0);
  background-color: #b20000;
  color: #fff;
}

.container-vermelho .secao:hover {
    background-color: #BA1A1A; /* Cor um pouco mais escura ao passar o mouse */
}

.container-principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
  padding: 0 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.calendario {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 0 0 900px;
  height: 50%;
}

.mes-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.mes {
  font-size: 1.4rem;
  font-weight: bold;
  color: #212222
}
/* posiciona as setas nas laterais */
.mes-header .seta:first-child {
  position: absolute;
  left: 20px;
}

.mes-header .seta:last-child {
  position: absolute;
  right: 20px;
}

.seta {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 6px;
  color: #034ea2;
  transition: background 0.3s;
}

.seta:hover {
  background: #fbb900;
  color: #fff;
  transform: scale(1.1);
}

.selecionar-semana {
  font-size: 16px;
  line-height: 1.6;
  color: #000000;
  width: fit-content;
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.selecionar-semana a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.selecionar-semana .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 36px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  border: 1px solid #ddd;
}

.selecionar-semana .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a3cff;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.selecionar-semana .item {
  position: relative;
}

.selecionar-semana .item .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  border-radius: 0 0 16px 16px;
  left: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #000000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  pointer-events: none;
  list-style: none;
  padding: 0;
  background-color: white;
}

.selecionar-semana .item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  border-top: transparent;
  border-color: #000000;
}

.selecionar-semana .item:hover .link {
  color: #000000;
  border-radius: 16px 16px 0 0;
}

.selecionar-semana .item:hover .link::after {
  transform: scaleX(1);
  transform-origin: right;
}

.selecionar-semana .submenu-item {
  width: 100%;
}

.selecionar-semana .submenu-link {
  display: block;
  padding: 10px;
  text-align: center;
  color: #000;
  text-decoration: none;
  transition: background 0.3s;
}

.selecionar-semana .submenu-link:hover {
  background-color: #f0f0f0;
}

.dias-semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 1px;
}

.dias div {
  padding: 20px 0;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
}

.dias div:hover {
  background: #0b9247; /* Azul */
  color: #ffffff;
}

.container-semana {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
  padding: 0 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container-semana .calendario {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 95%;
}

.semana {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 1px;
}

.semana div {
  border: 1px solid #b3b3b3;
}

.semana div .horario {
  padding: 20px 0px;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
  border: 1px dashed #cacaca;
}

.semana div .horario:hover {
    border: none;
    background: #0B9247; /* Azul */
    color: #FFFFFF;
}

footer {
  background-color: #000000;
  min-height: 250px;
  padding: 30px;
  margin-top: 100px;
}

footer .row {
  display: flexbox;
  justify-content: space-around;
}

footer .secao {
  min-height: 150px;
  min-width: 230px;
}

footer h3 {
  font-size: x-large;
  color: #fff;
  margin-bottom: 20px;
}

footer .texto {
  color: rgb(191, 191, 191);
}

footer .secao .icones {
  font-size: 30px;
  margin-top: 10px;
}

footer .linha-footer {
  width: 800px;
  height: 2px;
  margin: 30px auto;
  background-color: rgb(128, 128, 128);
}

.bloco-horarios {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 0 0 400px;
}

.form-label {
  font-weight: bold;
  color: #333;
}

.btn-agendar {
  background-color: #b20000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
}

.btn-agendar:hover {
  background-color: #8a0000;
}
