body {
    font-family: Verdana, sans-serif;
    background-color: white;
    margin: 0; /* Remove margens do body */
    padding: 0; /* Remove paddings do body */
}

h1 {
    color: black;
    font-family: Verdana, sans-serif;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    font-size: 61px;
    margin-top: 5px;
    text-align: center;
    border: 0px;
}

h2 {
    color: rgb(54, 54, 54);
    font-family: Verdana, sans-serif;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    font-size: 18px;
    text-align: center;
    margin-top: -30px;
}

p {
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.linha-preta {
    width: 800PX; /* Largura da linha */
    height: 2px; /* Altura da linha */
    margin: 15px auto;
    background-color: black; /* Cor da Linha */
}

.container-vermelho {
    background-color: #B20000; 
    font-family: Verdana, sans-serif;
}

.container-vermelho .secao {
    height: 60px;
    border: 1px solid rgb(100, 0, 0);
    background-color: #B20000;
    color: #fff;
}

.container-vermelho .secao:hover {
    background-color: #BA1A1A; /* Cor um pouco mais escura ao passar o mouse */
}

.container-fluid .row {
  display: flexbox;
  justify-content: space-around;
}

.container {
    width: 100%;
    height: auto;
    padding-bottom: 5em;
}

.container_cadastro {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  width: 250px;
  height: 600px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.container_alterar {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 20px;
  width: 250px;
  height: 600px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.heading { /* Texto do título */
  text-align: center; 
  font-weight: 900;
  font-family: Verdana, sans-serif;
  font-size: 30px; 
  color: rgb(0, 0, 0);
}

.form .login-button {
  display: block;
  width: 100%;
  font-weight: bold;
  width: 390px;   
  font-family: Verdana, Geneva, sans-serif;
  background: linear-gradient(45deg, rgb(16, 98, 20) 0%, rgb(25, 132, 41) 100%);
  color: white; 
  padding-block: 15px;
  margin: 20px auto; 
  border-radius: 20px; 
  box-shadow: #8bd2a0 0px 20px 10px -15px;
  border: none;
  transition: all 0.2s ease-in-out;
}

.form .login-button:hover {
  /* Sombra do botão e leve aumento */
  transform: scale(1.03);
  box-shadow: #8bd2a0 0px 23px 10px -20px;
}

.form .login-button:active {
  /* Sombra do botão e leve aumento */
  transform: scale(0.95);
  box-shadow: #8bd2a0 0px 15px 10px -10px;
}

.form-control:focus, 
.form-select:focus {
  outline: none !important;
  border-color: #B20000 !important;
  box-shadow: 0 0 5px #BA1A1A !important; 
  transition: all 0.2s ease-in-out;
}

/* Footer */
footer {
  background-color: #000000;
  min-height: 250px;
  padding: 30px;
  margin-top: 100px;
}

footer .row {
  display: flexbox;
  justify-content: space-around;
}

footer .secao {
  min-height: 150px;
  min-width: 230px;
}

footer h3 {
  font-size: x-large;
  color: #fff;
  margin-bottom: 20px;
}

footer .texto {
  color: rgb(191, 191, 191);
}

footer .secao .icones {
  font-size: 30px;
  margin-top: 10px;
}

footer .linha-footer {
  width: 800px;
  height: 2px;
  margin: 30px auto;
  background-color: rgb(128, 128, 128);
}