body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0; /* Remove margens do body */
    padding: 0; /* Remove paddings do body */
}

h1 {
    color: black;
    font-family: Verdana, sans-serif;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    font-size: 61px;
    margin-top: 5px;
    text-align: center;
    border: 0px;
}

h2 {
    color: rgb(54, 54, 54);
    font-family: Verdana, sans-serif;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    font-size: 18px;
    text-align: center;
    margin-top: -30px;
}

p {
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    
}

.container-vermelho {
    height: 60px; 
    background-color: #B20000; 
    justify-content: center;
    font-family: Verdana, sans-serif;
}

.secao {
    height: 100%;
    border-top: 1px solid rgb(100, 0, 0);
    border-left: 1px solid rgb(100, 0, 0);
    border-bottom: 1px solid rgb(100, 0, 0);
    color: #fff;
    text-align: center;
    align-content: center;
}

.logo {
  
  top: 10px; /* distância do topo */
  left: 10px; /* distância da esquerda */
  width: 100px; /* largura fixa */
  height: auto; /* altura automática para manter proporção */

}

.Linha-preta {
    width: 800PX; /* Largura da linha */
    height: 2px; /* Altura da linha */
    
    margin: 15px auto;

    background-color: black; /* Cor da Linha */
}

/* Calendario */
.calendario {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
}



/* Cabeçalho */
.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Texto do mês */
.mes {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #000000; /* Vermelho destaque */
}

/* Setas */
.setas {
    display: inline-block;
    margin-left: 70%;
    gap: 10px;
}

/* Botão setas */
.setas button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 6px;
    color: #034EA2; /* Azul */
    transition: background 0.3s;
    
}

/* Animação das setas */
.setas button:hover {
    background: #FBB900; /* Amarelo */
    color: #FFFFFF;
}

/* Grid do calendário */
.dias-semana, .dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

/* Dias da semana */
.dias-semana div {
    font-weight: bold;
    padding: 10px 0;
    color: #000000;
}

/* Dias número */
.dias div {
    padding: 25px 0;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
    border: 1px solid #BFBFBF;
    
}

/* Animação dos números do mês */
.dias div:hover {
    background: #0B9247; /* Azul */
    color: #FFFFFF;
}