body {
    background-color: white;
    /*Cor do fundo*/
    font-family: var(--font-dm-sans);
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Alinha no topo */
    min-height: 100vh;
    /* Garante altura total da tela */
    margin: 0;
    padding: 0;
}

.sidebar__navigation {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    padding: 16px;
    width: 700px; /* Largura */
    height: 400px; /* Altura */
    margin-top: 250px; /* empurra um pouco para baixo */
}
    

.avatar {
    width: 100px;
    height: 100px;
}

.logo_etec {
    width: 100px;
    height: 100px;
}